:root {
    --primary-bg: #1a237e;
    --accent-orange: #ec3f00;
    --text-white: #ffffff;
}

.title_about {
    font-size: 70px;
}

.about_content {
    font-size: 30px;
    text-align: center;
}

.media-services {
    padding: 60px 20px;
    background-color: #fff;
    font-family: "Inter", sans-serif;
    text-align: center;
}

.service-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    width: 1200px;
}

.service-card {
    position: relative;
    width: 340px;
    height: 480px;
    overflow: hidden;
    transition: all 0.4s ease;
    cursor: pointer;
}

.service-card img {
    opacity: 0.6;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(40%);
    transition: 0.4s ease;
}

.service-overlay {
    position: absolute;
    inset: 0;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 50px 0px;
    text-align: center;
}

.service-overlay h3 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 15px;
}

.btn-detail {
    display: block;
    width: 183px;
    height: 38px;
    line-height: 38px;
    background-color: #ffa07a;
    color: white;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    margin: 0 auto;
    transition: background 0.3s ease;
}

.btn-detail:hover {
    background-color: #ff8855;
}

/* Hover Effect */
.service-card:hover {
    transform: scale(1.2);
  
}

.service-card:hover img {
    filter: brightness(110%);
    opacity: 1;
}

.branding-section {
    padding: 60px 20px;
    background-color: #fff;
    font-family: "Inter", sans-serif;
}

.container-branding {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 40px;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.branding-title {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 20px;
    line-height: 1.1;
}

.branding-text {
    flex: 1;
    min-width: 320px;
    max-width: 500px;
    font-size: 16px;
    color: #000;
}

.branding-text p {
    line-height: 1.4;
    font-size: 16px;
    margin-bottom: 8px;
    width: 327px;
}

.branding-text ul {
    padding-left: 20px;
    margin: 0;
}

.branding-text ul li {
    margin-bottom: 10px;
    line-height: 1.5;
}

.branding-image {
    flex: 1;
    max-width: 750px;
    text-align: center;
}

.image_nuance img {
    width: 741px;
    height: 495px;
    object-fit: cover;
}

.navigate-link {
    display: inline-block;
    font-size: 13px;
    font-weight: 600;
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid #000;
    padding-bottom: 2px;
    position: relative;
    transition: all 0.3s ease;
}

.arrow_consulting {
    float: right;
}

.navigate-link .arrow {
    margin-left: 6px;
    display: inline-block;
    transform: translateY(1px);
    transition: transform 0.3s ease;
}

.navigate-link:hover {
    color: #ff8855;
    border-color: #ff8855;
}

.navigate-link:hover .arrow {
    transform: translateX(4px);
}

.media-section {
    padding: 60px 20px;
    font-family: "Inter", sans-serif;
    background-color: #fff;
    position: relative;
}

.container-media {
    max-width: 1200px;
    margin: auto;
}

.media-title {
    font-size: 50px;
    font-weight: 700;
    color: #000;
    margin-bottom: 70px;
}

.media-content {
    display: flex;
    gap: 40px;
    align-items: flex-start;
    justify-content: space-between;
}

.media-image img {
    width: 341px;
    height: 476px;
    object-fit: cover;
    display: block;
}

.media-text {
    width: 617px;
    font-size: 16px;
    color: #000;
    position: relative;
}

.media-text ol {
    padding-left: 20px;
}

.media-text li {
    margin-bottom: 12px;
}

.media-services-label {
    font-weight: 600;
    font-size: 13px;
    margin-top: 20px;
    text-align: right;
    border-bottom: 1px solid #000;
    display: inline-block;
    padding-bottom: 4px;
}

.container-channels {
    position: relative;
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 40px;
}

.channel-left,
.channel-right {
    flex: 1;
    min-width: 300px;
}

.channel-title {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 30px;
    line-height: 1.2;
}

.channel-online {
    margin-top: 300px;
}

.channel-offline h4,
.channel-online h4 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}

.item {
    margin-bottom: 20px;
}

.item strong {
    display: block;
    font-weight: 700;
    margin-bottom: 5px;
}

.item p {
    font-size: 14px;
    color: #333;
    margin: 0;
}

.channels-section {
    background-color: #ffffff;
    padding: 80px 0px;
    overflow-x: hidden;
    position: relative;
}

.channel-image {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 20px;
}

.channel-image img {
    position: relative;
    top: 0;
    right: 0;

    max-width: 1200px;
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.channel-wrapper {
    padding: 40px 0px;
    background-color: #f2f2f2;
    margin: 0 auto;
}

.channel-left {
    position: relative;
    padding-bottom: 60px;
}

.navigate-link.arrow_consulting {
   
    bottom: 18px;
    left: 0;
    font-size: 13px;
    font-weight: 600;
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid #000;
    padding-bottom: 2px;
    transition: all 0.3s ease;
}

.war_rations {
    position: absolute;
}

.navigate-link.arrow_consulting .arrow {
    margin-left: 6px;
    display: inline-block;
    transition: transform 0.3s ease;
}

.navigate-link.arrow_consulting:hover {
    color: #ff8855;
    border-color: #ff8855;
}

.navigate-link.arrow_consulting:hover .arrow {
    transform: translateX(4px);
}

.chart-wrapper {
    width: 100%;
    max-width: 700px;
    padding: 30px;
    box-sizing: border-box;
    margin: auto;
    position: relative;
}

canvas {
    width: 100% !important;
    height: 100% !important;
}

canvas#caseChart {
    width: 400px !important;
    height: 400px !important;
    display: block;
    margin: auto;
}

.box_case_study {
    background: #21285b;
}

.case-study-container {
    height: 620px;
    background: linear-gradient(135deg, #1a237e 0%, #4a148c 100%);
    padding: 30px;
    position: relative;
    overflow: hidden;
    color: white;
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
}

.header-row {
    margin-bottom: 50px;
}

.logo {
    font-weight: bold;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
}

.dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: var(--accent-orange);
    border-radius: 50%;
    margin-right: 8px;
}

.service-text {
    font-size: 1rem;
}

.case-study-title {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 10px;
    position: relative;
    z-index: 1;
}

.industry-title {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 10px;
    position: relative;
    z-index: 1;
}

.content-description {
    font-size: 1.1rem;
    max-width: 600px;
    position: relative;
    z-index: 1;
}

.goals-box {
    background-color: var(--accent-orange);
    color: white;
    border-radius: 15px;
    padding: 25px;
    height: 270px;
    position: relative;
    z-index: 1;
}

.goals-title {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.goal-item {
    text-align: center;
    padding: 10px;
}

.goal-value {
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 1;
    margin-top: 10px;
}

.goal-description {
    font-size: 0.9rem;
    margin-top: 5px;
}

.progress-bar-container {
    width: 10px;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    margin: 0 auto;
    position: relative;
}

.progress-bar {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40%;
    background-color: white;
    border-radius: 5px;
}

.chart-box {
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    height: 100%;
    position: relative;
    z-index: 1;
}

.chart-legend {
    display: none;
}

/* Chart colors */
.pr-color {
    background-color: #1e3799;
}
.seo-color {
    background-color: #e84118;
}
.google-color {
    background-color: #0a3d62;
}
.facebook-color {
    background-color: #f6b93b;
}
.pr-collab-color {
    background-color: #38ada9;
}
.ooh-color {
    background-color: #4a69bd;
}

.color-box {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 3px;
    margin-right: 5px;
}

.goal-icon {
    display: flex;
}

.box_case_chart {
    display: flex;
    justify-content: space-between;
}

.goal-value p {
    font-size: 20px;
}

.box_study {
    display: flex;
    justify-content: space-between;
}

.about-us-img {
    margin-top: 40px;
    /* width: 100%; */
    max-width: 1200px;
    display: block;
    height: 386px;
    object-fit: cover;
}

/* Media Queries - Consolidated and prioritized from bottom to top */

/* CSS for very small screens */
@media (max-width: 375px) {
    .case-study-container {
        min-height: 750px;
    }

    .case-study-title {
        font-size: 24px;
    }

    .industry-title {
        font-size: 16px;
    }

    .content-description {
        font-size: 12px;
    }

    .goals-box {
        width: 95%;
        padding: 15px;
    }

    .chart-wrapper {
        max-width: 280px;
    }

    canvas#caseChart {
        max-width: 250px !important;
        max-height: 250px !important;
    }

    .service-card {
        height: 200px;
    }

    .content-description {
        max-width: 100%;
    }

    .goals-box {
        padding: 15px;
    }

    .goal-item {
        padding: 5px;
    }

    .chart-wrapper {
        height: 300px;
    }

    canvas#caseChart {
        max-height: 250px !important;
    }
}
/* Style for the individual goal item */
.goal-item {
    position: relative;
    color: white;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

/* Progress bar container styling */
.progress-bar-container {
    position: absolute;
    left: 20px;
    top: 20px;
    width: 12px;
    height: 120px;
    background-color: #4db6ff; /* Light blue color */
    border-radius: 6px;
    overflow: hidden;
}

/* Dark blue cap at the top of progress bar */
.progress-bar-container:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 15px;
    background-color: #061d4a; /* Dark blue/navy color */
    border-radius: 6px 6px 0 0;
}

/* Remove the actual progress bar div since we're using the container as the bar */
.progress-bar {
    display: none;
}

/* Goal value (2000) styling */
.goal-value {
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 1;
    margin-left: 40px; /* Space for the progress bar */
    padding-top: 5px;
}

/* "khách hàng" text styling */
.goal-value p {
    font-size: 1.3rem;
    font-weight: 500;
    margin: 0;
    display: block;
    line-height: 1.2;
}

/* Description text styling */
.goal-description {
    font-size: 1rem;
    line-height: 1.3;
    margin-top: 15px;
    margin-left: 40px; /* Align with the number above */
}
/* Fix for the centered layout of the Media Services section */
.media-services {
    padding: 60px 0; /* Remove horizontal padding */
    background-color: #fff;
    font-family: "Inter", sans-serif;
    text-align: center;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
}

/* Center the container properly */
.media-services .container {
    margin: 0 auto;
    padding: 0;
    max-width: 1200px;
    width: 100%;
    display: block;
}

/* Service grid centered alignment */
.service-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Center the cards */
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Adjusted card sizing for better fit */
.service-card {
    position: relative;
    width: calc(33.333% - 20px); /* Adjust for gap */
    max-width: 340px;
    height: 480px;
    overflow: hidden;
    transition: all 0.4s ease;
    cursor: pointer;
}
.strategic-image img {
    position: absolute;
    top: -60px;
    right: 0px;
    max-width: 1200px;
    width: 580px;
    height: 400px;
    object-fit: cover;
    display: block;
}
/* Standard desktop position (right aligned) */
.navigate-link.arrow_consulting {
    margin-top: 20px;
    bottom: 18px;
    left: 0;
    font-size: 13px;
    font-weight: 600;
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid #000;
    padding-bottom: 2px;
    transition: all 0.3s ease;
    float: right; /* Right alignment for desktop */
}

/* Mobile specific positioning (left aligned) */
@media (max-width: 767px) {
    .media-section .navigate-link.arrow_consulting {
        float: left !important; /* Override to float left on mobile */
        text-align: left;
        display: block;
        width: auto;
        margin-top: 20px;
        position: relative; /* Override absolute positioning if any */
        bottom: auto;
        left: auto;
    }
    
    /* Ensure proper container positioning */
    .media-text {
        position: relative;
        padding-bottom: 50px; /* Make space for the link if needed */
    }
}

/* Responsive layout for smaller screens */
@media (max-width: 992px) {
    .service-card {
        width: calc(50% - 20px);
    }
}

@media (max-width: 767px) {
    .service-grid {
        justify-content: center;
    }

    .service-card {
        width: 100%;
        max-width: 400px;
    }
}

/* Adjust layout for smaller screens */
@media (max-width: 768px) {
    .goal-value {
        font-size: 2.8rem;
    }

    .goal-value p {
        font-size: 1.1rem;
    }

    .progress-bar-container {
        height: 70px;
    }
}

/* CSS for mobile case study */
@media (max-width: 767px) {
    body {
        overflow-x: hidden;
    }

    .container,
    .container-fluid {
        padding-left: 15px;
        padding-right: 15px;
        width: 100%;
    }
    .navigate-link.arrow_consulting{
        bottom: 0;
    }

    /* Case study container */
    .case-study-container {
        width: 100%;
        height: auto;
        min-height: 800px;
        padding: 20px 15px;
        overflow: hidden;
    }

    .box_study {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        transform: none;
        margin: 0 auto;
    }

    .case-study-content {
        width: 100%;
        padding-right: 0;
        margin-bottom: 30px;
        text-align: center;
    }

    .chart-container {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .case-study-title {
        font-size: 28px;
        margin-bottom: 10px;
        text-align: center;
    }

    .industry-title {
        font-size: 18px;
        margin-bottom: 10px;
        text-align: center;
    }

    .content-description {
        font-size: 14px;
        margin-bottom: 15px;
        text-align: center;
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .goals-box {
        height: auto;
        padding: 20px;
        margin: 0 auto;
        width: 90%;
    }

    .goals-title {
        font-size: 18px;
        margin-bottom: 15px;
    }

    .goal-item {
        padding: 5px;
    }

    .goal-value {
        font-size: 24px;
        margin-top: 5px;
    }

    .goal-value p {
        font-size: 16px;
    }

    .goal-description {
        font-size: 12px;
    }

    .chart-wrapper {
        padding: 0;
        margin: 0 auto;
        width: 90%;
        max-width: 350px;
    }

    canvas#caseChart {
        width: 100% !important;
        height: auto !important;
        max-width: 300px !important;
        max-height: 300px !important;
        margin: 0 auto;
    }

    /* Header styles */
    .navbar_top_header {
        padding: 10px 15px;
    }

    /* Brand Communication section */
    .title_about {
        font-size: 36px;
        margin-left: 0;
        line-height: 1.2;
    }

    .about_content {
        font-size: 20px;
        text-align: left;
    }

    .about-us-img {
        height: auto;
    }

    /* Media Services section */
    .service-grid {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .service-card {
        width: 100%;
        height: auto;
        aspect-ratio: 3/4;
        margin-bottom: 20px;
    }

    .service-card:hover {
        transform: none;
    }

    .service-overlay h3 {
        font-size: 24px;
    }

    /* Branding section */
    .branding-text p {
        width: 100%;
        font-size: 15px;
    }

    .image_nuance img {
        width: 100%;
        height: auto;
    }

    /* Media Consulting section */
    .media-content {
        flex-direction: column;
    }

    .media-image img {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }

    .media-text {
        width: 100%;
    }

    /* Channels section */
    .channel-online {
        margin-top: 20px;
    }

    .channel-image img {
        right: 0;
        top: -50px;
        position: relative;
        width: 100%;
        height: auto;
    }

    .container-channels {
        gap: 0;
    }

    /* Mobile sidebar menu styling */
    .offcanvas {
        width: 80% !important;
    }

    .link-columns {
        flex-direction: column;
    }

    /* Fix for the service cards */
    .media-services {
        padding: 30px 0;
    }

    .service-card {
        border-radius: 0;
        margin-bottom: 1px;
    }

    .service-overlay {
        padding: 20px;
        align-items: center;
        justify-content: center;
    }

    .btn-detail {
        width: 150px;
        height: 35px;
        line-height: 35px;
    }

    /* Fix for design sections */
    .branding-section,
    .media-section,
    .channels-section {
        padding: 30px 0;
    }

    .branding-title,
    .media-title,
    .channel-title {
        font-size: 48px;
        margin-bottom: 35px;
    }

    /* Fix for channels section */
    .channel-wrapper {
        padding: 20px 15px;
    }

    .channel-offline h4,
    .channel-online h4 {
        font-size: 18px;
        font-weight: 600;
    }

    .item strong {
        font-size: 16px;
    }

    .item p {
        font-size: 14px;
    }

    /* Case study specific */
    .goal-item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .goal-icon {
        flex-direction: column;
        align-items: center;
    }

    .progress-bar-container {
        margin-bottom: 10px;
    }

    .goal-value {
        font-size: 32px;
        margin-top: 0;
    }

    .goal-description {
        text-align: center;
    }
}

@media (max-width: 768px) {
    .case-study-title {
        font-size: 3rem;
    }

    .goals-box,
    .chart-box {
        margin-bottom: 20px;
    }

    .container-branding {
        flex-direction: column;
        align-items: center;
    }

.service-card{
    padding: 17px;
}

    .branding-text {
        text-align: left;
        font-size: 14px;
    }

    .branding-image img {
        max-width: 100%;
    }
}

@media (max-width: 992px) {
    .container-channels {
        flex-direction: column;
    }

    .channel-left,
    .channel-right {
        width: 100%;
    }

    .channel-left {
        padding-bottom: 0;
    }
    .channel-right {
        margin-bottom: 25px;
    }
    .container-channels {
        gap: 0px;
    }

    .channel-image {
        transform: none;
        margin-bottom: 0;
    }

    #branding-detail,
    #media-consulting,
    .channel-wrapper {
        padding: 20px;
    }

    .channels-section .channel-title {
        text-align: center;
        font-size: 50px;
    }

    .channel-offline h4 {
        font-size: 28px;
    }

    .channel-offline .item {
        font-size: 16px;
    }
}
