.color_background_header {
    background: linear-gradient(90deg, #fb99e7, #fc8782, #fcd797, #eb92a7);
}

.font_rajdhani {
    font-family: 'Rajdhani', sans-serif;
}


.header-wrapper {
    opacity: 0.6;
    width: 1200px !important;
    max-width: 100%;
}

.logo-text{
    color: #AB6E6E;
}
/* CSS để đẩy mũi tên ra xa 2 bên */
.splide__arrow--prev {
    left: -80px; /* chỉnh khoảng cách bên trái */
}

.splide__arrow--next {
    right: -80px; /* chỉnh khoảng cách bên phải */
}

/* Tùy chọn: tăng kích thước mũi tên nếu muốn */
.splide__arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    background-color: #ddd;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.splide {
    position: relative;
}

.splide__arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    background-color: #ddd;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.splide__arrow--prev {
    left: -80px !important;
}

.splide__arrow--next {
    right: -80px !important;
}

.container_home, .sub_banner_home{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.about-us-img {
    margin-top: 40px;
    width: 100%;
    display: block;
    height: 386px;
    object-fit: cover;
}


.sub_banner_home{
    position: relative;
  
}
.title_about {
    margin-left: 300px;
    font-size: 90px;
    padding: 30px 0;
}
.service-card {
    height: 299px !important;
    display: flex;
    flex-direction: column;
    justify-content: center; /* căn giữa nội dung theo chiều dọc */
    border: 1px solid #dee2e6; /* optional: nếu bạn muốn có viền */
}
.service-card:hover {
    cursor: pointer;
    background-color: #ffa276;
    transform: translateY(-4px);
    border-color: transparent;
}

@media (max-width: 768px) {
    .splide__arrow--prev {
        left: -5px !important;
    }

    .splide__arrow--next {
        right: -5px !important;
    }
    .about-us-img {
        width: 100%;
        height: auto;
        object-fit: contain; /* Đảm bảo ảnh không bị crop */
    }
    .title_about{
        margin-left: 0;
    }
}
