<footer class="footer">
    <div class="newsletter-bar">
        <div class="newsletter-content container">
            <h4>BandKols</h4>
            <div class="newsletter-form">
                <input type="email" placeholder="Email Address" />
                <button class="btn-newsletter">Get Newsletter</button>
            </div>
            <div class="social-icons">
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-youtube"></i>
                <i class="fab fa-instagram"></i>
            </div>
        </div>
    </div>

    <div class="footer-main container">
        <div class="footer-contact">
            <p><i class="fas fa-envelope"></i> contact.me@gmail.com</p>
            <p><i class="fas fa-phone"></i> 01234 567 890</p>
            <p><i class="fas fa-map-marker-alt"></i> Cecilia Chapman 711-2880 Nulla St. Mankato Mississippi 96522 </p>
        </div>
        <div class="footer-links-container">
            <div class="footer-links">
                <h5>KOLS</h5>
                <div class="link-columns">
                    <ul>
                        <li>Music</li>
                        <li>Gameing</li>
                        <li>Model</li>
                        <li>Art</li>
                    </ul>
                    <ul>
                        <li>Sports</li>
                        <li>Fashion</li>
                        <li>Photography</li>
                    </ul>
                    <ul>
                        <li>Sports</li>
                        <li>Fashion</li>
                        <li>Photography</li>
                    </ul>
                </div>
            </div>
            <div class="footer-app">
                <h5>Dowload App</h5>
                <img src="images/client/footers/appstore.png" alt="App Store"
                    class="store-btn" />
                <img src="images/client/footers/google_play.png" alt="Google Play"
                    class="store-btn" />
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <p>© 2025 BOOKINGBRAND.COM.,LTD</p>
    </div>
</footer>
